<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-up-content">
  <h2 class="auth-title">
    Cadastre-se
  </h2>

  <form [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">Nome<ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="text" formControlName="nome" clearInput autocapitalize="off" ></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.nome" [form]="signUpForm"
        [nomeCampo]="'nome'" ></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.email" [form]="signUpForm"
        [nomeCampo]="'email'"></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating">Senha<ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.password" [form]="signUpForm"
        [nomeCampo]="'password'"></app-mensagem-validacao>
      <ion-item class="input-item">
        <ion-label position="floating">Confirmar Senha<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.confirm_password" [form]="signUpForm"
        [nomeCampo]="'confirm_password'"></app-mensagem-validacao>

    </ion-list>

    <ion-button class="sign-up-btn" type="submit" expand="block" [disabled]="!signUpForm.valid">Cadastrar</ion-button>
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
    <ion-row class="sign-in-btn-wrapper">
      <ion-button class="sign-in-btn" fill="clear" [routerLink]="['/sign-in']">
        Já possui login?
      </ion-button>
    </ion-row>
  </form>

  <!-- <div class="social-auth-options">
    <p class="options-divider">Ou</p>
    <ion-button class="social-auth-btn" color="primary" expand="block" (click)="facebookSignUp()">Facebook Sign Up
    </ion-button>
    <ion-button class="social-auth-btn google-auth-btn" color="danger" expand="block" (click)="googleSignUp()">Google
      Sign Up</ion-button>
  </div> -->
</ion-content>