<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Cadastro Prestador
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar  *ngIf="prestador.situacaoPrestador == 1" color="secondary" value="0.40" buffer="0.60"></ion-progress-bar>

  <ion-card>
    <ion-card-header>
      <div class="ion-text-end">
        <ion-button color="primary" (click)="abreModalSelecionarLocalAtendimento()">
          <ion-icon name="add-outline" style="margin-right:10px;"></ion-icon> Novo
        </ion-button>
      </div>
      <ion-card-title>Locais de Atendimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list style="margin-top: 20px;">
        <ion-item *ngFor="let item of locaisAtendimentos; let i = index" class="ion-no-border" button detail="false"
          (click)="excluirButtonClick(item)">
          <ion-icon slot="end" name="trash-outline" color="danger"></ion-icon>
          <ion-label class="ion-text-wrap">{{item.cidade}} / {{item.uf}}</ion-label>

        </ion-item>
      </ion-list>

      <div class="ion-text-end" style="margin-top: 20px;">
        <ion-button color="medium" type="button" (click)="voltar()" style="margin-right: 20px!important;" size="4"
          clear>
          <ion-icon name="chevron-back-outline" style="margin-right:10px;"></ion-icon>Voltar
        </ion-button>
        <ion-button color="success" type="button" (click)="prosseguir()" clear>
          <ion-icon name="checkmark" style="margin-right:10px;">
          </ion-icon>
          {{prestador.SituacaoPrestador == 1 ? "Prosseguir" : "Salvar"}}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>