<ion-header>

  <ion-navbar>
    <ion-title>Novo registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 align-self-center>
        <form [formGroup]="regData" (ngSubmit)="register()">

          <ion-item>
            <ion-label floating>Nome:</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>E-mail:</ion-label>
            <ion-input type="email" formControlName="login"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Senha:</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Confirma senha:</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>

          <button margin-top ion-button type="submit" [disabled]="!regData.valid">Registrar</button>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>