<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dados da Empresa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <form [formGroup]="formulario">

      <ion-item class="input-item">
        <ion-label position="floating">Razão Social <ion-text color="danger">*</ion-text>
        </ion-label>

        <ion-input type="text" formControlName="razaoSocial" clearInput autocapitalize="off"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Telefone<ion-text color="danger">*</ion-text>
        </ion-label>

        <ion-input type="number"  formControlName="telefone" clearInput autocapitalize="off">
        </ion-input>
      </ion-item>


      <ion-item class="input-item">
        <ion-label position="floating">Cep<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" maxlength="8" formControlName="cep" clearInput autocapitalize="off"></ion-input>
      </ion-item>


      <ion-chip color="tertiary" (click)="buscarEnderecoPorCEP()" size="6">
        <ion-label>Buscar Endereço</ion-label>
        <ion-icon name="search-outline"></ion-icon>
      </ion-chip>
      <ion-item class="input-item">
        <ion-label class="ion-text-wrap" *ngIf="formulario.value.logradouro">
          <p>{{formulario.value.logradouro}}, {{formulario.value.bairro}} - {{formulario.value.cidade}} /
            {{formulario.value.uf}}</p>
        </ion-label>
      </ion-item>
    </form>
    </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-end">
          <ion-button color="success" type="button" (click)="prosseguir()">Prosseguir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>