<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="signInWithEmail()">

        <ion-item class="input-item">
          <ion-label position="floating">Email <ion-text color="danger">*</ion-text>
          </ion-label>

          <ion-input type="email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
        </ion-item>


        <ion-item class="input-item">
          <ion-label position="floating">Senha <ion-text color="danger">*</ion-text>
          </ion-label>

          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="ion-text-center" style="margin-top: 20px;">
          <ion-button type="submit" color="primary" size="10">Entrar</ion-button>
        </div>
        <div class="ion-text-center" style="margin-top: 20px;">
          <ion-label class="">ou</ion-label>
        </div>
        <div class="ion-text-center" style="margin-top: 20px;">

          <ion-button color="light" [routerLink]="['/sign-up']" routerDirection="root" clear>
            Cadastre-se
          </ion-button>
        </div>
        <div class="ion-text-center" style="margin-top: 20px;">
          <ion-button color="light" [routerLink]="['/esqueci-minha-senha']" routerDirection="root" clear>
            Esqueci minha senha
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>