<ion-content>
  <ion-list>
    <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioSelect($event)" #radioGroup>
      <ion-list-header>
        <ion-label>Serviços</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of servicos" >
        <ion-label>{{item.nomeServico}}</ion-label>
        <ion-radio slot="start" color="success"  value="{{item.servicoId}}" >
  
        </ion-radio>
      </ion-item>
  </ion-radio-group>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-button tyep="button" color="light" (click)="closeModal()" >Voltar</ion-button>
    <ion-button tyep="button" color="primary" (click)="salvar()" >Salvar</ion-button>
  </ion-toolbar>
</ion-footer>