<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-card (click)="expandItem(item)" *ngFor="let item of prestadorServicos">
    <ion-card-header>
      <ion-card-title>{{item.nomeServico}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Insira uma breve descrição aqui..." [(ngModel)]="item.breveDescricao"></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="danger" (click)="excluirButtonClick(item)">Excluir</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="button" (click)="salvarBreveDescricao(item)">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" (click)="abreModalSelecionaServico()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col  class="ion-align-self-start">
          <ion-button  color="medium" type="button" (click)="voltar()">Voltar</ion-button>
        </ion-col>
        <ion-col class="ion-align-self-end">
          <ion-button  color="success" type="button" (click)="prosseguir()">Prosseguir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>