<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Cadastro Prestador
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar *ngIf="prestador.situacaoPrestador == 1" color="secondary" value="0.60" buffer="0.80"></ion-progress-bar>

  <ion-card>
    <ion-card-header>
      <div class="ion-text-end">
        <ion-button color="primary" (click)="abreModalSelecionaServico()">
          <ion-icon name="add-outline" style="margin-right:10px;"></ion-icon>Novo
        </ion-button>
      </div>
      <ion-card-title>Serviços</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>


        <ion-item *ngFor="let item of prestadorServicos" class="ion-no-border" button detail="false"
          (click)="servicoOpcoes(item)">
          <ion-label class="ion-text-wrap "><h3>{{item.nomeServico}}</h3> <p>{{item.breveDescricao}}</p></ion-label>
          <ion-icon slot="end" color="primary" name="ellipsis-vertical"></ion-icon>

        </ion-item>


      <div class="ion-text-end" style="margin-top: 20px;">
        <ion-button color="medium" type="button" (click)="voltar()" style="margin-right: 20px!important;" size="4"
          clear>
          <ion-icon name="chevron-back-outline" style="margin-right:10px;"></ion-icon>Voltar
        </ion-button>
        <ion-button color="success" type="button" (click)="prosseguir()" clear>
          <ion-icon name="checkmark" style="margin-right:10px;">
          </ion-icon>
          {{prestador.situacaoPrestador == 1 ? "Prosseguir" : "Salvar"}}

        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>