<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Igreja Vinculo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>

    <form [formGroup]="formulario">

      <ion-item (click)="abrirModalUF()" detail>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>UF<ion-text color="danger">*</ion-text>

              </ion-label>
            </ion-col>
            <ion-col size="12">

              <ion-note color="primary"> {{formulario.value.ufApresentacao}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item (click)="abrirModalCidade()" detail [disabled]="!formulario.value.uf">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>Cidade<ion-text color="danger">*</ion-text>

              </ion-label>
            </ion-col>

            <ion-col size="12">

              <ion-note color="primary"> {{formulario.value.cidade}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item (click)="abrirModalIgreja()" detail [disabled]="!formulario.value.cidade">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>Igreja<ion-text color="danger">*</ion-text>

              </ion-label>
            </ion-col>
            <ion-col size="12">

              <ion-note color="primary"> {{formulario.value.nomeIgreja}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>Membro da Igreja vinculada</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-toggle name="staMembro" formControlName="staMembro" [disabled]="!formulario.value.igrejaId">
              </ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>

  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-start">
          <ion-button color="medium" type="button" (click)="voltar()">Voltar</ion-button>
        </ion-col>
        <ion-col class="ion-align-self-end">
          <ion-button color="success" type="button" (click)="prosseguir()">Prosseguir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>