<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Manter Prestador
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Dados Empresa</h3>


      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Nome</p>
          <h3>{{prestador.nome}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Email</p>
          <h3>{{prestador.email}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Razão Social</p>
          <h3>{{prestador.razaoSocial}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Telefone</p>
          <h3>{{prestador.telefone}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p>Endereço</p>
          <h3>{{prestador.logradouro}}, {{prestador.bairro}} - {{prestador.cidade}} / {{prestador.uf}}</h3>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>


  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Local Atendimento</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of prestador.locaisAtendimento; let i = index">
        <ion-label class="ion-text-wrap">
          <h2>{{item.cidade}} / {{item.uf}}</h2>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Serviços</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of prestadorServicos">
        <ion-label class="ion-text-wrap">
          <h2>{{item.nomeServico}}</h2>
          <h3>{{item.breveDescricao}}</h3>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Igreja Vinculo</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h3>{{prestador.nomeIgreja}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h3>Membro: {{prestador.staMembro?"Sim":"Não"}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Situação</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-select [(ngModel)]="prestador.situacaoPrestador">
        <ion-select-option *ngFor="let item of situacoesPrestador" [value]="item.valor">
          {{ item.descricao }}
        </ion-select-option>
      </ion-select>

      <div class="ion-text-end" style="margin-top: 20px;margin-right: 15px; margin-bottom: 20px;">
        <ion-button color="medium" type="button" (click)="voltar()" style="margin-right: 20px!important;" size="4"
          clear>
          <ion-icon name="chevron-back-outline" style="margin-right:10px;"></ion-icon>Voltar
        </ion-button>
        <ion-button class="success" type="button" (click)="atualizarPrestador()" clear>
          <ion-icon name="checkmark" style="margin-right:10px;"></ion-icon>Atualizar
        </ion-button>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>