<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="mainContent" side="start">
      <ion-header>
        <ion-toolbar color="default">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

          <span *ngIf="usuarioLogado">
            <ion-list-header>
              <h3>
                {{recuperaDadosUsuario.nome.split(' ')[0]}}</h3>
            </ion-list-header>
            <ion-note>{{recuperaDadosUsuario.email}}</ion-note>

            <ion-chip color="tertiary" (click)="logoff()" slot="close" routerDirection="root"
              routerLink="prestador-consultar" size="6">
              <ion-label>Sair</ion-label>
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-chip>
          </span>

          <ion-menu-toggle *ngFor="let p of paginas">
            <ion-item routerDirection="root" [routerLink]="p.url" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-footer class="ion-no-border">
          <ion-toolbar>
            <ion-label>{{ version }}</ion-label>
          </ion-toolbar>
        </ion-footer>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">

      <app-tablinks></app-tablinks>

    </ion-router-outlet>
  </ion-split-pane>
</ion-app>