<ion-header translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="closeModal()" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes Prestador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 
  <ion-card class="ion-no-border">
    <ion-card-header >
    <ion-card-title>
        <h3>{{prestador.nome}}</h3>
        <ion-label size="12">
          <p>{{prestador.descricaoServicos}}</p>
        </ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item (click)="ligarTelefone(prestador.telefone)" class="ion-no-border">
        <ion-icon class="fas fa-phone-alt" style="padding-right: 11px;margin-left: 3px;"></ion-icon>
        <ion-button color="tertiary" size="small" type="button">{{prestador.telefone | maskTelefone}}</ion-button>
      </ion-item>
      <ion-item class="ion-no-border">
        <ion-icon class="fas fa-church" style="padding-right: 17px;"></ion-icon>
        <ion-label class="ion-text-wrap on-no-border">
          <h2>{{prestador.nomeIgreja}} </h2>
         
        </ion-label>

      </ion-item>
      <ion-item class="ion-no-border">
        <ion-icon class="fas fa-map-marker-alt" style="padding-right: 11px;margin-left: 7px;"></ion-icon>
        <ion-label class="ion-text-wrap on-no-border">
          <h2>{{prestador.bairro}} - {{prestador.cidade}} / {{prestador.uf}}</h2>
        </ion-label>
      </ion-item>
      <div class="ion-text-end">
        <ion-button size="small" (click)="ShareGeneric()" color="light">
          <ion-icon name="share-social"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-border">
    <ion-card-header>

      <ion-card-title>
        <h3>Local Atendimento</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-item *ngFor="let item of prestador.locaisAtendimento; let i = index">
      <ion-label class="ion-text-wrap">
        <h2>{{item.cidade}} / {{item.uf}}</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="ion-no-border">
    <ion-card-header>
      <ion-card-title>
        <h3>Serviços</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-item *ngFor="let item of prestadorServicos">
      <ion-label class="ion-text-wrap">
        <h2>{{item.nomeServico}}</h2>
        <h3>{{item.breveDescricao}}</h3>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>