<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prestador - Visualizar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Dados Iniciais
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Nome</p>
        <h3>{{usuario.nome}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Email</p>
        <h3>{{usuario.email}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Situação Prestador</p>
        <h3>{{prestador.nomeSituacaoPrestador}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Razão Social</p>
        <h3>{{prestador.razaoSocial}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Telefone</p>
        <h3>{{prestador.telefone}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Endereço</p>
        <h3>{{prestador.logradouro}}, {{prestador.bairro}} - {{prestador.cidade}} / {{prestador.uf}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>Igreja Vinculo</p>
        <h3>{{prestador.nomeIgreja}}</h3>
        <h3>{{prestador.staMembro}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Serviços
    </ion-list-header>
    <ion-item *ngFor="let item of prestadorServicos">
      <ion-label class="ion-text-wrap">
        <h1>{{item.nomeServico}}</h1>
        <h3>{{item.breveDescricao}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>