<!-- <ion-segment scrollable (ionChange)="segmentChanged($event)" value="{{valorMenu}}" >
  <ion-segment-button value="0">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>3</ion-label>
  </ion-segment-button> 
   <ion-segment-button value="3">
    <ion-label>4</ion-label>
  </ion-segment-button>
  <ion-segment-button value="4">
    <ion-label>Resumo</ion-label>
  </ion-segment-button>
</ion-segment> -->