<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Consultar Prestador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formulario" (ngSubmit)="ConsultarPrestador()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item (click)="abrirModalServicos()" detail>
       <ion-label>Serviço <ion-text color="danger">*</ion-text>
        {{formulario.value.nomeServico}}
       </ion-label>
      </ion-item>
      <!-- <ion-item>
     
        <ion-select class="ion-text-end" name="servicoId" formControlName="servicoId" interface="action-sheet">
          <ion-select-option *ngFor="let item of servicos" selected="selected" value="{{item.servicoId}}">
            {{ item.nomeServico }}
          </ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item  detail>
        <ion-label>UF <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select class="ion-text-end" name="uf" formControlName="uf" (ionChange)="buscarCidades()"
          interface="action-sheet">
          <ion-select-option *ngFor="let item of UfList" value="{{item}}">
            {{ item }}
          </ion-select-option>
        </ion-select>

      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.uf" [form]="formulario"
        [nomeCampo]="'uf'"></app-mensagem-validacao>

      <ion-item detail>
        <ion-label>Cidade</ion-label>
        <ion-select class="ion-text-end" name="cidade" formControlName="cidade" [disabled]="!formulario.value['uf']"
          interface="action-sheet">
          <ion-select-option *ngFor="let item of cidadeList" selected="selected" value="{{item}}">
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.cidade" [form]="formulario"
        [nomeCampo]="'cidade'"></app-mensagem-validacao>


    </ion-list>
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
    <ion-button class="sign-up-btn" type="submit" expand="block" [disabled]="!formulario.valid">Pesquisar</ion-button>
  </form>

  <ion-card *ngFor="let item of prestadores" value="{{item}}">
    <ion-card-header>
      <ion-card-title>{{item.nome}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>{{item.telefone}}</h2>
          <h2>{{item.email}}</h2>
          <p>{{item.nomeIgreja}}</p>
          <p>{{item.cidade}} / {{item.uf}}</p>
        </ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button  color="warning" (click)="detalhes(item.usuarioId)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>