<ion-header translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="closeModal()" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar type="text" 
    debounce = 1
    placeholder="Pesquisar"
    animated
    (ionChange)="recuperaServicos($event)" animated></ion-searchbar>
  <ion-list>
      <ion-item *ngFor="let item of servicos" (click)="selecionarServico(item)" detail>
        <ion-label>{{item.nomeServico}}</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
