<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Adicionar Igreja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formData" (ngSubmit)="salvarIgreja()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">Nome Igreja <ion-text color="danger">*</ion-text>
        </ion-label>

        <ion-input type="text" formControlName="nomeIgreja" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.nomeIgreja" [form]="formData"
        [nomeCampo]="'nomeIgreja'"></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating">Cep <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="cep" clearInput autocapitalize="off"></ion-input>
      </ion-item>

      <ion-chip color="tertiary" (click)="buscarEnderecoPorCEP()" size="6">
        <ion-label>Buscar Endereço</ion-label>
        <ion-icon name="search-outline"></ion-icon>
      </ion-chip>
      <ion-item class="input-item">
        <ion-label class="ion-text-wrap" *ngIf="formData.value.logradouro">
          <p>{{formData.value.logradouro}}, {{formData.value.bairro}} - {{formData.value.cidade}} / {{formData.value.uf}}</p>
        </ion-label>

        <app-mensagem-validacao [validation_messages_object]="validation_messages.cep" [form]="formData"
          [nomeCampo]="'cep'"></app-mensagem-validacao>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating" class="ion-text-wrap">Email do administrador da igreja <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="emailAdministrador" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <ion-chip color="tertiary" (click)="buscarUsuarioAdministradorIgreja()" size="6">
        <ion-label>Buscar Administrador</ion-label>
        <ion-icon name="search-outline"></ion-icon>
      </ion-chip>
      <ion-item class="input-item">
        <ion-label class="ion-text-wrap" *ngIf="formData.value.administradorUsuarioId">
          <p>{{formData.value.emailAdministrador}}</p>
          <p>{{formData.value.nomeAdministrador}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
    <ion-button class="sign-up-btn" type="submit"  expand="block">
      Adicionar Igreja</ion-button>
  </form>
</ion-content>