

<ion-content fullscreen>
  <ion-content-header>
   
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="" (click)="closeModal()" text="Voltar"></ion-back-button>
        </ion-buttons>
     
      </ion-toolbar>
  </ion-content-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adicionar Serviço</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Serviço<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text"  #nomeServico autofocus clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <ion-button class="primary" type="button" (click)="salvar()" expand="block">
        Adicionar</ion-button>
      </ion-card-content>
    </ion-card>
    
</ion-content>