<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Dados da Empresa 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="form1" (ngSubmit)="SalvarForm1()">
    <ion-list  lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="input-item">
        <ion-label position="floating">Razão Social <ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="text"  formControlName="razaoSocial" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.razaoSocial" [form]="form1"
      [nomeCampo]="'razaoSocial'"></app-mensagem-validacao>
     
      <ion-item class="input-item">
        <ion-label position="floating" >Telefone<ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="number"  [brmasker]="{phone: true}" formControlName="telefone" clearInput autocapitalize="off" ></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.telefone" [form]="form1"
      [nomeCampo]="'telefone'"></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating">Cep<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" maxlength="8" formControlName="cep" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.cep" [form]="form1"
        [nomeCampo]="'cep'"></app-mensagem-validacao>
       
        <ion-chip color="tertiary" (click)="submitError='';buscarEnderecoPorCEP()" size="6">
          <ion-label>Buscar Endereço</ion-label>
          <ion-icon name="search-outline"></ion-icon>
        </ion-chip>
        <ion-item class="input-item">
          <ion-label class="ion-text-wrap" *ngIf="prestador.logradouro">
            <p>{{prestador.logradouro}}, {{prestador.bairro}} -  {{prestador.cidade}}  / {{prestador.uf}}</p>
          </ion-label>
        </ion-item>
        <!-- <ion-button class="ion-align-self-end" position="right" color="tertiary" type="button" (click)="submitError='';buscarEnderecoPorCEP()" [disabled]="!form1.value['cep']">Buscar endereço</ion-button> -->
    
        <ion-item (click)="abrirModalIgreja()" detail [disabled]="!prestador.cidade">
          <ion-label>Igreja<ion-text color="danger">*</ion-text>
           
          </ion-label>
          <ion-note slot="end" color="primary">  {{form1.value.nomeIgreja}}</ion-note>
  
        </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.igrejaId" [form]="form1"
      [nomeCampo]="'igrejaId'"></app-mensagem-validacao>

      <ion-item>
        <ion-label>Membro da Igreja vinculada</ion-label>
        <ion-toggle  name="staMembro" formControlName="staMembro" 
          [disabled]="!form1.value.igrejaId"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-button class="sign-up-btn" type="submit" expand="block" >Prosseguir</ion-button>
  </form>
</ion-content>