<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Seja um Prestador - Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="form1" (ngSubmit)="SalvarForm1()">
    <ion-list  lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="input-item">
        <ion-label position="floating">CPF / CNPJ <ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="number" [brmasker]="{person: true}" formControlName="cnpcnpj" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.cnpcnpj" [form]="form1"
      [nomeCampo]="'cnpcnpj'"></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating" >Telefone <ion-text color="danger">*</ion-text></ion-label>

        <ion-input type="number"  [brmasker]="{phone: true}" formControlName="telefone" clearInput autocapitalize="off" ></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.telefone" [form]="form1"
      [nomeCampo]="'telefone'"></app-mensagem-validacao>

      <ion-item class="input-item">
        <ion-label position="floating">Cep <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" maxlength="8" formControlName="cep" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.cep" [form]="form1"
        [nomeCampo]="'cep'"></app-mensagem-validacao>
       
        <ion-chip color="tertiary" (click)="submitError='';buscarEnderecoPorCEP()" size="6">
          <ion-label>Buscar Endereço</ion-label>
          <ion-icon name="search-outline"></ion-icon>
        </ion-chip>
        <ion-item class="input-item">
          <ion-label>
            <p>{{enderecoParte1}}</p>
            <p>{{enderecoParte2}} </p>
          </ion-label>
        </ion-item>
        <!-- <ion-button class="ion-align-self-end" position="right" color="tertiary" type="button" (click)="submitError='';buscarEnderecoPorCEP()" [disabled]="!form1.value['cep']">Buscar endereço</ion-button> -->
    
      <ion-item>
        <ion-label>Igreja Vinculo <ion-text color="danger">*</ion-text></ion-label>
        <ion-select class="ion-text-end" name="igrejaVinculo" formControlName="igrejaVinculo"  [disabled]="!igrejas.length>0"  interface="action-sheet">
          <ion-select-option *ngFor="let item of igrejas" value="{{item.id}}">
              {{ item.nomeIgreja }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <app-mensagem-validacao [validation_messages_object]="validation_messages.igrejaVinculo" [form]="form1"
      [nomeCampo]="'igrejaVinculo'"></app-mensagem-validacao>

      <ion-item>
        <ion-label>Membro da Igreja vinculada</ion-label>
        <ion-toggle slot="start" name="StaMembro" checked></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-button class="sign-up-btn" type="submit" expand="block" >Prosseguir</ion-button>
  </form>
</ion-content>