<ion-content fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meu Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-item">
        <ion-label position="floating">Nome <ion-text color="danger">*</ion-text>
        </ion-label>

        <ion-input type="text" [(ngModel)]="usuario.nome" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text>
        </ion-label>

        <ion-input type="text" [(ngModel)]="usuario.email" disabled clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <!-- <ion-item class="input-item">
        <p>{{usuario.email}}</p>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">Perfil <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input *ngFor="let perfil of perfis" type="text" [(ngModel)]="perfis" disabled clearInput autocapitalize="off"></ion-input>
        
      </ion-item>
      <div class="ion-text-end" style="margin-top: 20px;">
        <ion-button color="success" type="button" (click)="salvar()" clear>
          <ion-icon name="checkmark" style="margin-right:10px;">
          </ion-icon>
          Salvar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>